# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:
  push:
    branches: [ main, 0.** ]
  pull_request:
    branches: [ main, 0.** ]
  schedule:
    # Run every Monday at 1:50 UTC
    - cron: "50 1 * * 1"

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Test:
    name: ${{ matrix.os }} - ${{ matrix.env }} (python ${{ matrix.python }})
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dev: [false]
        python: ["3.10", "3.11", "3.12", "3.13"]
        env: ["latest"]
        include:
          - env: minimal
            os: ubuntu-latest
            dev: false
            python: "3.10"
          - env: latest-no-optional-deps
            os: ubuntu-latest
            dev: false
            python: "3.12"
          - env: dev-deps
            os: ubuntu-latest
            dev: false
            python: "3.12"
          - env: latest
            os: macos-latest
            dev: false
            python: "3.12"
          - env: latest
            os: windows-latest
            dev: false
            python: "3.12"
            
    steps:
      - uses: actions/checkout@v6

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: '1.4.9-0'
          environment-file: ci/envs/${{ matrix.env }}.yml
          create-args: >-
            python=${{ matrix.python }}
            ${{ matrix.extra }}

      - name: Test
        run: |
          pytest --color=yes --cov=pygeoops --cov-append --cov-report term-missing --cov-report xml tests/

      - uses: codecov/codecov-action@v5
      
